/* In this file you can add your custom styles. */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  grid-auto-flow: dense;
}

.card-title {
  margin: 1rem;
}

.card {
  min-height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: lightyellow; */
  background-color: #e8dff5;
}

.top-card {
  display: flex;
  justify-content: space-between;
}

.list-container {
  min-height: 10rem;
}

.li {
  display: flex;
  justify-content: space-between;
  margin-right: 1rem;
}

.list-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-item div {
  margin-right: 1rem;
}
.list-buttons {
  display: flex;
  margin-right: 1rem;
  justify-content: center;
  align-items: center;
}

hr {
  margin-right: 2rem;
}
/* TASKS */
.task-title {
  font-weight: 500;
}

.task-description {
  font-weight: 300;
  display: none;
}

.task-deadline {
  font-weight: 300;
  color: mediumblue;
}

.task-checked {
  color: #a9a9a9;
  text-decoration: line-through;
}

.add-task {
  margin: 1rem;
  font-size: 2rem;
}

.add-task:hover {
  color: #f8e16c;
}

/* ICONS */
.edit-icon {
  fill: black;
}
.edit-icon:hover {
  fill: black;
}
@media (min-width: 800px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1280px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
