/* GENERAL */
:root {
  --shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
  --blue: #0275d8;
}

body {
  height: 100vh;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    147deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(248, 249, 250, 1) 72%
  );
}

/* NAVBAR */
.navbar {
  margin-right: 1rem;
}
.nav-link {
  margin-right: 1rem;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  grid-auto-flow: dense;
}

.card-title {
  margin: 2rem;
}

.card {
  min-height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: lightyellow; */
  background-color: #fffacd;
  border-radius: 0;
  transition-duration: 0.2s;
}

.top-card,
.bottom-card {
  display: flex;
  justify-content: space-between;
}

.list-container {
  min-height: 10rem;
}

.li {
  display: flex;
  justify-content: space-between;
  margin-right: 1rem;
}

.list-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-item div {
  margin-right: 1rem;
}
.list-buttons {
  display: flex;
  margin-right: 1rem;
  justify-content: center;
  align-items: center;
}

/* TASKS */
.task-title {
  font-weight: 500;
}

.task-description {
  font-weight: 300;
  display: none;
}

.task-deadline {
  font-weight: 300;
  color: hotpink;
}

.task-checked {
  color: #a9a9a9;
  text-decoration: line-through;
}

.title-description-container {
  display: flex;
}

/* BUTTONS */
.edit-icon {
  fill: black;
}
.edit-icon:hover {
  fill: black;
}

.add-task {
  margin: 1rem;
  font-size: 2rem;
}

.add-task:hover,
.show-details:hover {
  color: #f8e16c;
}

.show-details {
  font-size: small;
}

/* INDEX PAGE */

.index-form div {
  display: flex;
  box-shadow: var(--shadow);
}

.index-form label {
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.index-form input,
.index-form button {
  border-radius: 0;
}
.index-task {
  display: flex;
  align-items: center;
  margin: 1rem;
}

.index-task div {
  margin-left: 1rem;
}

.index-article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5rem;
}

.index-section {
  margin-left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.index-card {
  padding: 2rem;
  max-width: 500px;
}

/* SECTIONS */
.create-list {
  margin-bottom: 2rem;
}
.create-list-form {
  display: inline;
}
.create-list-buttons {
  display: inline;
}
@media (min-width: 800px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1280px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card:hover {
    transform: scale(105%);
    z-index: 2;
    box-shadow: var(--shadow);
  }
}
