/* Tooltip container ADD TASK */
.add-class-container {
  position: relative;
  display: inline-block;
}

.add-class-container .tooltip-text {
  visibility: hidden;
  width: 120px;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 1rem;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 4rem;
  transition-delay: 0.2s;
  transition-duration: 0s;
}

.add-class-container:hover .tooltip-text {
  visibility: visible;
  background-color: rgba(0, 0, 0, 1);
  color: white;
}
